extends layout

block content
  div.container
    h1=title
    div.well
      span Welcome to Acme Products! Our top-rated product:
      |
      |
      a(href='/products/' + topRated.id) #{topRated.name}
      br
      div
        a(href='/products') Check out all #{count} Products!

    block content
