extends layout

block content
  div.container
    h1=title
    div.well
      h2 Welcome to Acme Products!
      |
      h4 Our top-rated product:
        |
        |
        a(href='/products/' + topRated.id) #{topRated.name}
      h4 What else?
        |
        |
        a(href='/products') Check out all #{count} Products!

    block content
