extends layout

block content
  div.container
    a(href='/products') << All Products
    h1 #{product.name}
    div.well
      h3 Rating: #{product.rating}
      form(method='POST' action='/products/' + product.id + '?_method=DELETE')
        button.btn.btn-danger Delete
